* {
    margin: 0;
    padding: 0;
}

body{
  background: #cff;
}

.box
{
  padding: 20px;
  display: inline-block;
  border: 1px solid #bdf;
  background-color: white;
}

input[type=text], input[type=password], input[type=date]
{
  padding: 10px;
  margin: 10px auto;
  width: 95%;
  border:none;
  border-radius: 5px;
  background: #aff;
}

p{ padding-top: 10px; }
input[type=radio] {width: 20%; background-color: #aff;}
.name
{ display: flex; }

.name input[type=text]
{
  margin: 15px;
}

.info input[type=text], input[type=password]
{ padding: 10px; }

input[type=text]:focus, input[type=password]:focus
{ background-color: #dff;

}

.button
{
  background-color: #00c000;
  color: white;
  padding: 16px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.cancelbutton
{
  background-color: #ccc;
  color: #333;
  text-decoration: none;
  padding: 16px 64px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
}

.searchbutton
{
  background-color: #00c000;
  color: white;
  padding: 16px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 60%;
}

.button:hover
{ background-color: #009000; }